@model Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="button-panel">
        <h3>@Html.DisplayFor(model => model.Name)</h3>
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Редактировать</a>
        </p>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-sm">Создать</a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Удалить</a>
        </p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Цена
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            НДС
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VAT)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Дата регистрации
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Дата обновления
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
    </dl>
</div>