@model IEnumerable<CRM.Core.Entities.DealProduct>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Deal
            </th>
            <th>
                Product
            </th>
            <th>
                Created Date
            </th>
            <th>
                Updated Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Details", "DealProducts", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Deal.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>