@model DetailsCompanyViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="button-panel">
        <h3>@Html.DisplayFor(model => model.Company.Name)</h3>
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Company.Id" class="btn btn-primary btn-sm">Редактировать</a>
        </p>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-sm">Создать</a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@Model.Company.Id" class="btn btn-primary btn-sm">Удалить</a>
        </p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Налоговый номер
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.TaxpayerNumber)
        </dd>
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            Веб-сайт
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Website)
        </dd>
        <dt class="col-sm-2">
            Количество сотрудников
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.NoOfEmployees)
        </dd>
        <dt class="col-sm-2">
            Род деятельности
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry)
        </dd>
        <dt class="col-sm-2">
            Страна
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Country)
        </dd>
        <dt class="col-sm-2">
            Город
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.City)
        </dd>
        <dt class="col-sm-2">
            Улица
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Street)
        </dd>
        <dt class="col-sm-2">
            Счёт
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Score)
        </dd>
        <dt class="col-sm-2">
            Индекс
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.ZipCode)
        </dd>
        <dt class="col-sm-2">
            Дата регистрации
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Дата обновления
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.UpdatedDate)
        </dd>
    </dl>
</div>
<hr />
<div>
    <h4>Сопутствующие контакты</h4>
    <div>
        <p>
            <a asp-controller="Contacts" asp-action="Create" class="btn btn-primary btn-sm">Добавить</a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a>Имя</a>
                </th>
                <th>
                    <a>Должность</a>
                </th>
                <th>
                    <a>Email</a>
                </th>
                <th>
                    <a>Номер мобильного телефона</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Contacts)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "Contacts", new { id = item.Id }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        <a asp-controller="Contacts" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Редактировать</a> |
                        <a asp-controller="Contacts" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<div>
    <h4>Сопутствующие сделки</h4>
    <div>
        <p>
            <a asp-controller="Deals" asp-action="Create" class="btn btn-primary btn-sm">Добавить</a>
        </p>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a>Название</a>
                </th>
                <th>
                    <a>Стадия</a>
                </th>
                <th>
                    <a>Общая сумма</a>
                </th>
                <th>
                    <a>Дата совершения</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Deals)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "Deals", new { id = item.Id }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClosingDate)
                    </td>
                    <td>
                        <a asp-controller="Deals" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Редактировать</a> |
                        <a asp-controller="Deals" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>