@model PaginatedList<CRM.Core.Entities.Company>

@{
    Layout = "~/Views/Shared/_ListViewLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TaxpayerNumberSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Tax Number</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">City</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StreetSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Street</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ZipCodeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Zip Code</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Details", "Companies", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaxpayerNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
