@model PaginatedList<CRM.Core.Entities.Activity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ListViewLayout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TypeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Type</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">StartDate</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">EndDate</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ContactSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Contact</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["SalesmanSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Salesman</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salesman.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
