@model CRM.Web.ViewModels.DealViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="button-panel">
        <h3>@Html.DisplayFor(model => model.Deal.Name)</h3>
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Deal.Id" class="btn btn-primary btn-sm">Edit</a>
        </p>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-sm">Create</a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@Model.Deal.Id" class="btn btn-primary btn-sm">Delete</a>
        </p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.Name)
        </dd>
        <dt class="col-sm-2">
            Total Amount
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            Stage
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.Stage)
        </dd>
        <dt class="col-sm-2">
            Description
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.Description)
        </dd>
        <dt class="col-sm-2">
            Contact
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.Contact.Id">
                @Html.DisplayFor(model => model.Contact.FirstName) @Html.DisplayFor(model => model.Contact.LastName)
            </a>
        </dd>
        <dt class="col-sm-2">
            Company
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.Company.Id">
                @Html.DisplayFor(model => model.Company.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            Salesman
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Salesmen" asp-action="Details" asp-route-id="@Model.Salesman.Id">
                @Html.DisplayFor(model => model.Salesman.FirstName) @Html.DisplayFor(model => model.Salesman.LastName)
            </a>
        </dd>
        <dt class="col-sm-2">
            Created Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Updated Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            Closing Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.ClosingDate)
        </dd>
    </dl>
</div>
<div>
    <h4>Deal Items</h4>
    <div>
        <p>
            <a asp-controller="DealProducts" asp-action="Create" class="btn btn-primary btn-sm">Add Item</a>
        </p>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a>Name</a>
                </th>
                <th>
                    <a>Unit Price</a>
                </th>
                <th>
                    <a>Quantity</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DealProducts)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "DealProducts", new { id = item.Id }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-controller="DealProducts" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Edit</a> |
                        <a asp-controller="DealProducts" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>