@model DetailsDealViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="button-panel">
        <h3>@Html.DisplayFor(model => model.Deal.Name)</h3>
        <p>
            <a asp-action="GenerateSalesQuote" asp-route-id="@Model.Deal.Id" class="btn btn-primary btn-sm">Экспорт в PDF</a>
        </p>
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Deal.Id" class="btn btn-primary btn-sm">Редактировать</a>
        </p>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-sm">Создать</a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@Model.Deal.Id" class="btn btn-primary btn-sm">Удалить</a>
        </p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Название
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.Name)
        </dd>
        <dt class="col-sm-2">
            Общая сумма
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.TotalAmount)
        </dd>
        <dt class="col-sm-2">
            Стадия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.Stage)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.Description)
        </dd>
        <dt class="col-sm-2">
            Контакт
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Contacts" asp-action="Details" asp-route-id="@Model.Contact.Id">
                @Html.DisplayFor(model => model.Contact.FirstName) @Html.DisplayFor(model => model.Contact.LastName)
            </a>
        </dd>
        <dt class="col-sm-2">
            Компания
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.Company.Id">
                @Html.DisplayFor(model => model.Company.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            Продавец
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Salesmen" asp-action="Details" asp-route-id="@Model.Salesman.Id">
                @Html.DisplayFor(model => model.Salesman.FirstName) @Html.DisplayFor(model => model.Salesman.LastName)
            </a>
        </dd>
        <dt class="col-sm-2">
            Дата регистрации
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Дата обновления
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.UpdatedDate)
        </dd>
        <dt class="col-sm-2">
            Дата совершения
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deal.ClosingDate)
        </dd>
    </dl>
</div>
<div>
    <h4>Deal Items</h4>
    <div>
        <p>
            <a asp-controller="DealProducts" asp-action="Create" class="btn btn-primary btn-sm">Добавить услугу</a>
        </p>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a>Название</a>
                </th>
                <th>
                    <a>Цена за услугу</a>
                </th>
                <th>
                    <a>Количество</a>
                </th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DealProducts)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "DealProducts", new { id = item.Id }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-controller="DealProducts" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Редактировать</a> |
                        <a asp-controller="DealProducts" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>