@model DetailsContactViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="button-panel">
        <h3>@Html.DisplayFor(model => model.Contact.FirstName) @Html.DisplayFor(model => model.Contact.LastName)</h3>
        <p>
            <a asp-action="Edit" asp-route-id="@Model.Contact.Id" class="btn btn-primary btn-sm">Редактировать</a>
        </p>
        <p>
            <a asp-action="Create" class="btn btn-primary btn-sm">Создать</a>
        </p>
        <p>
            <a asp-action="Delete" asp-route-id="@Model.Contact.Id" class="btn btn-primary btn-sm">Удалить</a>
        </p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.FirstName)
        </dd>
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.LastName)
        </dd>
        <dt class="col-sm-2">
            Номер мобильного телефона
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Phone)
        </dd>
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
        <dt class="col-sm-2">
            Источник
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Source)
        </dd>
        <dt class="col-sm-2">
            Компания
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Companies" asp-action="Details" asp-route-id="@Model.Company.Id">
                @Html.DisplayFor(model => model.Company.Name)
            </a>
        </dd>
        <dt class="col-sm-2">
            Позиция
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Position)
        </dd>
        <dt class="col-sm-2">
            Описание
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.Description)
        </dd>
        <dt class="col-sm-2">
            Дата регистрации
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            Дата обновления
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contact.UpdatedDate)
        </dd>
    </dl>
</div>
<div>
    <h4>Сопутствующая деятельность</h4>
    <div>
        <p>
            <a asp-controller="Activities" asp-action="Create" class="btn btn-primary btn-sm">Добавить</a>
        </p>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a>Название</a>
                </th>
                <th>
                    <a>Тип</a>
                </th>
                <th>
                    <a>Дата начала</a>
                </th>
                <th>
                    <a>Дата окончания</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Activities)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "Activities", new { id = item.Id }))'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <a asp-controller="Activities" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default">Редактировать</a> |
                        <a asp-controller="Activities" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>