@model IEnumerable<ScoreRule>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Добавить новое правило</a>
    <a asp-action="ApplyScoreRulesForAllCompanies" class="btn btn-primary btn-sm">Применить все правила</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Критерий</th>
            <th>Отношение</th>
            <th>Ценность</th>
            <th>Количество пунктов</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href = '@(Url.Action("Details", "ScoreRules", new { id = item.Id }))'">
                <td>
                    @Html.DisplayFor(modelItem => item.Criteria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelationSymbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-default">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
